@font-face {
  font-family: 'ImpactLabelRerversed';
  src: url('/public/assets/fonts/ImpactLabelReversed.ttf') format('truetype');
}

body {
	display: flex;
    flex-direction: column;
	margin: 0;
	overflow-x: hidden;
}

header {
	display: flex;
	flex-direction: row;
    align-self: left;
	width: 100%;
	background-color: #d0d0d0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b9b9b+0,e5e5e5+100 */
	background: #B32DED; /* Old browsers */
	background: -moz-linear-gradient(top, #B32DED 0%, #ae87f3  100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #B32DED 0%,#ae87f3  100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #B32DED 0%,#ae87f3  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B32DED', endColorstr='#ae87f3 ',GradientType=0 ); /* IE6-9 */
}

nav {
	height: auto;
    background-color: aqua;
    flex:1;
}

a {
	text-decoration: none;
    color: inherit;
}

#content_container {
	display:flex;
	flex-direction: row;
	flex: 0.98;
}

#left_container {
	display:flex;
	flex-direction: column;
	flex: 0.3;
}

#right_container {
	display:flex;
	flex-direction: row;
	flex: 1;
}

#header_profile_name {
    top: 8px;
    padding-left: 8px;
    position: relative;
}

#header_profile_picture_div {
	background-color: aqua;
    height: 55px;
    width: 55px;
    background-size: contain;
    background-repeat: no-repeat;
	border-bottom-right-radius: 10px;
}

#header_profile_msg {
	padding-left: 8px;
    position: relative;
    top: 13px;
}

#contact_list_container {
	flex:5;
    overflow-y: auto;
	/*background-color: #e5e5e5; #ababff;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,b32ded+74,41ce25+100 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #b32ded 74%, #41ce25 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #000000 0%,#b32ded 74%,#41ce25 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #000000 0%,#b32ded 74%,#41ce25 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#41ce25',GradientType=0 ); /* IE6-9 */
}

#contact_list_header h5 {
    font-family: ImpactLabelRerversed;
    font-weight: lighter;
    color: #b32ded;
    font-size: 25px;
    margin: 5px;
    text-shadow: 4.5px 2.5px 6px rgba(255,45,192,1);
}

.contact_mini_container {
	/*background-color: #888888;*/
    height: 65px;
    /*width: 200px;*/
	display: flex;
	flex-direction: row;
	margin-top: 7px;
	border-bottom-left-radius: 6px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aaaaaa+0,e0e0e0+74,c6c6c6+100 */
	background: #fbfbfb; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfbfb 0%, #929292 74%, #c6c6c6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fbfbfb 0%,#929292 74%,#c6c6c6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fbfbfb 0%,#929292 74%,#c6c6c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
}

.contact_name {
	top: 5px;
    left: 5px;
    position: relative;
}

.contact_prs_msg {
    position: relative;
    left: 5px;
    top: -4px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.contact_status_0 {
	border-bottom: 4px solid #9a9a9a;
}

.contact_status_1 {
	border-bottom: 4px solid #33b537;
-webkit-box-shadow: 10px 10px 44px -12px rgba(26,199,29,1);
-moz-box-shadow: 10px 10px 44px -12px rgba(26,199,29,1);
box-shadow: 10px 10px 44px -12px rgba(26,199,29,1);
}

.contact_status_2 {
	border-bottom: 4px solid #FFC107;
	-webkit-box-shadow: 10px 10px 44px -12px rgba(255,193,7,1);
	-moz-box-shadow: 10px 10px 44px -12px rgba(255,193,7,1);
	box-shadow: 10px 10px 44px -12px rgba(255,193,7,1);
}

.contact_status_3 {
	border-bottom: 4px solid #F44336;
	-webkit-box-shadow: 10px 10px 44px -12px rgba(244,66,54,1);
	-moz-box-shadow: 10px 10px 44px -12px rgba(244,66,54,1);
	box-shadow: 10px 10px 44px -12px rgba(244,66,54,1);
}

.contact_side_piece {
	width: 5.5px;
    position: relative;
    height: 65px;
	top: -7px;
}

.contact_side_piece_0 {
    background-color: #9a9a9a;
}

.contact_side_piece_1 {
    background-color: #33b537;
}

.contact_side_piece_2 {
    background-color: #FFC107;
}

.contact_side_piece_3 {
    background-color: #F44336;
}

.contact_profile_picture {
	height: 50px;
    width: 50px;
    background-size: cover;
}

#header_set_status {
	position: relative;
    top: 7px;
    left: 7px;
	font-family: ImpactLabelRerversed;
    height: 19px;
    background-color: #d300f7;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contact_data {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact_date {
	font-size: 13px;
    position: relative;
    top: 7px;
    display: flex;
	left: 5px;
}